.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--padding);
}

.address {
  font-family: var(--monospace);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 8px;
  text-align: center;
  word-break: break-all;
}

.copy {
  gap: 6px;

  background-color: var(--gray-6);
  border-radius: 9999px;
  margin-bottom: 12px;
  padding: 6px 14px;

  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--gray-5);
  }

  .labelWrapper {
    flex: 1;

    font-size: 12px;
    font-weight: 600;
    text-align: center;

    position: relative;
  }

  .labelCopy {
    visibility: visible;
  }

  .labelCopied {
    position: absolute;
    left: 0;
    right: 0;

    visibility: hidden;
  }

  &.copied .labelCopy {
    visibility: hidden;
  }

  &.copied .labelCopied {
    visibility: visible;
  }
}
