.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--padding);
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px;

  background-color: var(--gray-7);
  border-radius: 9999px;
}

.trigger {
  border-radius: 9999px;
  color: var(--dimmed);
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
  width: 80px;

  transition: all var(--transition) ease;

  &:hover {
    background-color: var(--gray-6);
  }

  &[data-state="active"] {
    background-color: var(--gray-0);
    color: var(--gray-9);
  }
}
