.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-index);

  width: 100%;
  height: 100vh; /* fallback */
  height: 100dvh;

  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  pointer-events: auto;
}

.mobileContent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index);

  height: calc(100vh - 80px); /* fallback */
  height: calc(100dvh - 80px);

  outline: none;
}

.desktopContent {
  position: fixed;
  top: var(--drawer-offset);
  bottom: var(--drawer-offset);
  right: var(--drawer-offset);
  z-index: var(--z-index);

  outline: none;
}

.inner {
  width: var(--drawer-width);
  height: 100%;

  border: 1px solid var(--gray-6);
  box-shadow: var(--drawer-shadow);

  @media (max-width: 576px) {
    width: 100%;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
