.content {
  position: fixed;
  top: var(--drawer-offset);
  right: var(--drawer-offset);
  bottom: var(--drawer-offset);
  z-index: var(--z-index);

  transition: all var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
  will-change: transform;

  @media (max-width: 576px) {
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh - 54px); /* fallback */
    height: calc(100dvh - 54px);
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translateX(100%);

    @media (max-width: 576px) {
      transform: translateY(100%);
    }
  }
}

.inner {
  border: 1px solid var(--gray-6);
  box-shadow: var(--drawer-shadow);
  width: var(--drawer-width);
  height: 100%;

  @media (max-width: 576px) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }
}
