.backdrop {
  position: fixed;
  inset: 0;
  z-index: 9998;

  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);

  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;

  width: 400px;

  background-color: var(--gray-9);
  border: 1px solid var(--gray-6);
  border-radius: 20px;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.01em;
  line-height: 1.5;
  max-height: 90vh;
  transform: translate(-50%, -50%);
}

@media (max-width: 420px) {
  .modal {
    top: auto;
    bottom: 0;
    left: 0;

    width: 100%;

    border-radius: 20px 20px 0 0;
    transform: none;
  }
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 1000;

  color: var(--gray-4);
}

.closeButton:hover {
  color: var(--gray-2);
}
