.header {
  display: grid;
  grid-template-columns: 1fr 52px 52px;
  height: 52px;

  background-color: var(--gray-8);
  border-bottom: 1px solid var(--border);
}

.addressContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  padding-left: 20px;
}

.copy {
  gap: 4px;

  color: var(--gray-1);
  font-size: 12px;
  font-weight: 500;

  .name {
    display: block;
  }

  .address {
    display: none;
  }

  .icon {
    color: var(--dimmed);

    transition: color var(--transition) ease;
  }

  &:hover,
  &.copied {
    .name {
      display: none;
    }

    .address {
      display: block;
    }

    .icon {
      color: var(--gray-1);
    }
  }
}

.disconnect,
.qrcode {
  border-left: 1px solid var(--border);
  padding: 0 16px;
  color: var(--gray-4);

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}
