.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;

  width: 132px;
  height: 44px;

  border: 1px solid var(--home-border);

  border-radius: 8px;
  color: var(--gray-0);
  font-size: 12px;
  font-weight: 600;
  padding: 0px 16px;
  transition: border-color var(--transition) ease;

  &:hover {
    border-color: var(--home-border-hover);
  }

  &[aria-expanded="true"] .icon {
    transform: rotate(180deg);
  }

  &.full {
    width: 100%;
  }
}

.triggerContent {
  display: flex;
  align-items: center;
  gap: 4px;

  overflow: hidden;
}

.triggerText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  color: var(--dimmed);
  transition: transform var(--transition);
}

.popoverBackdrop {
  position: fixed;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  z-index: 9999;

  background: rgba(0, 0, 0, 0.8);
  border-radius: var(--border-radius);

  transition: opacity var(--transition) ease-out;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.popoverPositioner {
  z-index: 10000;
}

.popoverPopup {
  display: flex;
  flex-direction: column;

  width: calc(var(--drawer-width) - 2 * var(--padding));

  background: var(--gray-8);
  border: 1px solid var(--gray-6);
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  max-width: calc(100vw - 2 * var(--padding));
  overflow: hidden;

  transition:
    transform var(--transition) ease-out,
    opacity var(--transition) ease-out;
  will-change: transform, opacity;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.search {
  flex: none;

  border-bottom: 1px solid var(--gray-6);
}

.viewport {
  flex: 1;

  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  height: 44px;

  color: var(--gray-0);
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  padding: 0 14px;
  transition: background-color var(--transition) ease;

  &:hover,
  &.highlighted {
    background: var(--gray-7);
  }

  &.active {
    background: var(--gray-6);
  }
}

.itemContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.extra {
  color: var(--gray-2);
  font-family: var(--monospace);
  font-size: 12px;
  font-weight: 500;
}

.connectedTag {
  background: var(--success-bg);
  border-radius: 4px;
  color: var(--success);
  font-size: 11px;
  font-weight: 600;
  padding: 1.5px 9px;
}
