.container {
  display: flex; /* Prevents overflow when displaying very long denom strings in Activity changes */
  flex-direction: column;
  gap: 16px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search {
  flex: 1;

  height: 44px;

  border: 1px solid var(--home-border);
  border-radius: 8px;

  transition: border-color var(--transition) ease;

  input {
    height: 100%;
  }

  &:hover {
    border-color: var(--home-border-hover);
  }

  &:focus-within {
    border-color: var(--gray-3);
  }
}
