.content {
  padding: var(--padding);
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.subtitle {
  color: var(--gray-1);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}

.label {
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
}

.container {
  border: 1px solid var(--gray-7);
  border-radius: 8px;
  padding: 12px;
}

.appInfo {
  display: grid;
  grid-template-areas:
    "icon name"
    "icon host";
  grid-template-columns: 28px 1fr;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 20px;
}

.icon {
  grid-area: icon;
}

.iconPlaceholder {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--gray-6);
  grid-area: icon;
}

.appName {
  color: var(--gray-1);
  font-size: 14px;
  font-weight: 600;
  grid-area: name;
}

.host {
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
  grid-area: host;
}

.details {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  row-gap: 8px;
  column-gap: 12px;
  margin-bottom: 20px;
}

.detailLabel {
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
}

.detailValue {
  color: var(--gray-0);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 8px;
  margin-bottom: 24px;
  margin-top: 8px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-1);
}

.listItem svg {
  color: var(--success);
}

.footer {
  padding: 20px;
}

.buttons {
  display: flex;
  gap: 12px;
}
