.container {
  border-radius: 8px;
  overflow: hidden;
}

.trigger {
  --position-item-bg: var(--gray-7);
  --position-item-icon-color: var(--dimmed);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  background-color: var(--position-item-bg);
  padding: 12px 16px;

  transition: background-color var(--transition) ease;

  &:hover {
    --position-item-bg: var(--gray-6);
    --position-item-icon-color: var(--gray-1);
  }
}

.chainInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  flex: none;
}

.chainNameContainer {
  display: flex;
  align-items: center;
  gap: 4px;

  &:hover .externalIcon {
    color: var(--gray-1);
  }
}

.chainName {
  color: var(--gray-0);
  font-size: 14px;
  font-weight: 600;
}

.externalLink {
  display: flex;
  align-items: center;
}

.externalIcon {
  color: var(--gray-3);
  transition: color var(--transition);
}

.valueColumn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.value {
  color: var(--gray-3);
  font-family: var(--monospace);
  font-size: 12px;
  font-weight: 500;
}

.expandIcon {
  color: var(--position-item-icon-color);
  transition: all var(--transition);

  &.expanded {
    transform: rotate(180deg);
  }
}

.collapsibleContent {
  overflow: hidden;

  &[data-state="open"] {
    animation: slideDown var(--transition) ease-out;
  }

  &[data-state="closed"] {
    animation: slideUp var(--transition) ease-out;
  }
}

.content {
  background-color: var(--gray-8);
}

.fallbackWrapper {
  padding: 12px 16px;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
