.container {
  border-radius: 8px;
  overflow: hidden;
}

.assetItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  background-color: var(--gray-7);
  padding: 12px 16px;

  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--gray-6);
  }

  &:hover .expandIcon {
    color: var(--gray-1);
  }
}

.assetInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  flex: none;
}

.details {
  display: flex;
  flex-direction: column;
}

.symbol {
  width: 120px;

  color: var(--gray-0);
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chainName {
  color: var(--dimmed);
  font-size: 12px;
  font-weight: 600;
}

.chainInfos {
  display: flex;
  align-items: center;
  gap: 2px;
}

.chainLogos {
  display: flex;
  align-items: center;
}

.chainLogo {
  &:not(:first-child) {
    margin-left: -4px;
  }
}

.moreChains {
  height: 16px;

  background-color: var(--gray-5);
  border-radius: 8px;
  color: var(--gray-2);
  font-family: var(--monospace);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 0 4px;
}

.expandIcon {
  color: var(--dimmed);
  transition: all var(--transition);

  &.expanded {
    transform: rotate(180deg);
  }
}

.valueColumn {
  flex: 1;

  display: flex;
  flex-direction: column;

  font-family: var(--monospace);
  text-align: right;
}

.amount {
  color: var(--gray-0);
  font-size: 14px;
  font-weight: 500;
  word-break: break-all;
}

.value {
  color: var(--dimmed);
  font-size: 12px;
  font-weight: 500;
}

.collapsibleContent {
  overflow: hidden;

  &[data-state="open"] {
    animation: slideDown var(--transition) ease-out;
  }

  &[data-state="closed"] {
    animation: slideUp var(--transition) ease-out;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .collapsibleContent[data-state="open"],
  .collapsibleContent[data-state="closed"] {
    animation: none;
  }
}

.chainsList {
  background-color: var(--gray-8);
}
