.link {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: unset;
  gap: 20px;

  width: 100%;

  background-color: var(--gray-8);
  border-radius: 8px;
  color: inherit;
  padding: var(--padding);
  padding-top: 16px;
  text-decoration: none;
  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--gray-7);
    color: inherit;
  }
}

.action {
  position: absolute;
  inset: 0;

  border-radius: inherit;

  > * {
    position: absolute;
    inset: 0;

    border-radius: inherit;

    &:focus-visible {
      outline: 2px solid var(--info);
      outline-offset: 2px;
    }
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
  row-gap: 8px;

  .title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .date {
    color: var(--gray-2);
  }

  .explorer {
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--gray-3);

    a {
      position: relative;
      z-index: 1;

      display: inline-flex;
      align-items: center;
      gap: 4px;

      color: inherit;
      margin-block: -4px;

      min-height: 24px;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        color: var(--gray-1);
      }

      &:focus-visible {
        outline: 2px solid var(--info);
        outline-offset: 2px;
      }
    }
  }

  .divider {
    width: 1px;
    height: 8px;

    background-color: var(--gray-5);
  }
}

.fees {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 12px;
  font-weight: 500;

  .label {
    color: var(--gray-2);
  }

  .content {
    color: var(--gray-1);
    font-family: var(--monospace);
  }
}

.route {
  display: grid;
  gap: 4px;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.asset {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 16px;
  font-weight: 500;

  .amount {
    font-family: var(--monospace);
  }
}

.chain {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--gray-3);
  font-size: 12px;
  font-weight: 500;

  .account {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.arrow {
  display: flex;
  justify-content: center;

  width: 32px;

  color: var(--dimmed);
}
