.history {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  border-bottom: 1px solid var(--border);
}

.checkbox {
  padding: 12px var(--padding);
}

.dateGroup {
  display: grid;
  gap: 8px;
}

.dateHeader {
  color: var(--gray-1);
  font-size: 12px;
  font-weight: 600;
}

.list {
  display: grid;
  gap: 10px;
}
