.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 32px;

  background-color: var(--gray-7);
  border-radius: 16px;
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
  padding: 0 12px;

  transition: background-color var(--transition) ease;

  button&:hover {
    background-color: var(--gray-6);
  }

  .clear {
    margin: -12px;
    padding: 12px;

    transition: color var(--transition) ease;
  }

  .clear:hover {
    color: var(--gray-1);
  }

  &.white {
    gap: 4px;

    background-color: var(--gray-0);
    color: var(--gray-8);
    font-weight: 600;
  }

  &.white:hover {
    background-color: var(--gray-1);
  }
}

.warning {
  margin-bottom: 20px;
  margin-top: 0;
}
