.backButton {
  display: flex;
  align-items: center;
  gap: 2px;

  background: var(--gray-6);
  border-radius: 4px;
  color: var(--gray-1);
  font-size: 12px;
  font-weight: 500;
  padding: 4px 8px;

  transition: background-color var(--transition) ease;

  &:hover {
    background: var(--gray-5);
  }
}
