.content {
  display: flex;
  align-items: center;
  gap: 12px;

  .info {
    flex: 1;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  margin: 12px 0;

  .divider {
    flex: 1;

    height: 1px;

    border-top: 1px solid var(--border);
  }

  .type {
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    border-radius: 4px;
    color: var(--dimmed);
    cursor: default;
  }

  button.type {
    background-color: var(--border);
  }
}

.asset {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  font-weight: 500;

  .amount {
    font-family: var(--monospace);
  }
}

.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chain {
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
}

.address {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;

  color: var(--gray-2);
  font-size: 11px;
  font-weight: 500;

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}
