.stack {
  display: grid;
  gap: 10px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: var(--gray-8);
  border: 1px solid var(--gray-5);
  border-radius: 8px;
  padding: 12px 16px;
  transition:
    background-color var(--transition) ease,
    border-color var(--transition) ease;

  &:hover:not(.isLoading):not(.disabled) {
    background-color: var(--gray-6);
  }

  &.checked:not(.isLoading):not(.disabled) {
    background-color: var(--gray-7);
    border-color: var(--gray-1);
  }

  &.isLoading {
    cursor: default;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 13px;
  font-weight: 600;
}

.duration {
  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--gray-2);
  font-size: 11px;
  font-weight: 500;
}

.warning {
  color: var(--warning);
}

.amount,
.value {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-family: var(--monospace);
}

.amount {
  height: 48px;

  font-size: 32px;
  font-weight: 700;
}

.value {
  height: 20px;

  color: var(--gray-2);
  font-size: 13px;
  font-weight: 500;
}
