.description {
  color: var(--dimmed);
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 24px;
}

.presets {
  display: flex;
  gap: 6px;

  margin-bottom: 16px;
}

.preset {
  width: 66px;
  height: 48px;

  background-color: var(--gray-7);
  border: 1px solid transparent;
  border-radius: 24px;
  color: var(--dimmed);
  font-size: 14px;
  font-weight: 500;
  text-align: center;

  transition: all var(--transition) ease;

  &:hover:not(.active) {
    background-color: var(--gray-6);
    color: var(--gray-1);
  }

  &.active {
    border-color: var(--gray-1);
    color: var(--gray-0);
  }
}

.custom {
  flex: 1;

  font-family: var(--font-family);
  font-weight: 600;
}

.wrapper {
  position: relative;

  flex: 1;

  input {
    width: 100%;

    font-family: var(--font-family);
  }

  .percent {
    position: absolute;
    top: 50%;
    right: 16px;

    font-family: var(--font-family);
    transform: translateY(-50%);
  }
}
