.body {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  color: var(--gray-0);
  color-scheme: dark;
  font-family: var(--font-family);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.01em;
  line-height: 1.5;
  overflow: hidden;
}
