.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px;
  border-radius: 100px;
  background-color: var(--gray-7);

  button {
    font-size: 12px;
    font-weight: 600;
    width: 80px;
    padding-block: 4px;
    border-radius: 100px;
    color: var(--gray-3);

    &:hover {
      background-color: var(--gray-6);
    }

    &.active {
      background-color: var(--gray-0);
      color: black;
    }
  }
}

.qrcode {
  background-color: var(--gray-0);
  padding: 6px;
  border-radius: 4px;
}

.address {
  font-size: 16px;
  font-weight: 500;
  gap: 8px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--gray-3);
  }

  &:hover:not(.copied) {
    .icon {
      color: var(--gray-0);
    }
  }
}
