.button {
  --button-height: 56px;

  gap: 8px;

  height: var(--button-height);

  background-color: var(--button-bg);
  border-radius: 12px;
  color: var(--button-text);
  font-size: 16px;
  font-weight: 600;
  padding: 0 16px;

  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--button-bg-hover);
  }

  &:disabled {
    background-color: var(--button-bg-disabled);
    color: var(--button-text-disabled);
    cursor: not-allowed;
  }
}

.outline {
  background-color: transparent;
  border: 1px solid var(--gray-0);
  color: var(--gray-0);

  &:hover {
    background-color: transparent;
    border-color: var(--gray-1);
    color: var(--gray-1);
  }

  &:disabled {
    background-color: transparent;
    border-color: var(--gray-4);
    color: var(--gray-4);
  }
}

.sm {
  height: 44px;

  border-radius: 8px;
  font-size: 14px;
}

.full {
  width: 100%;
}

.small {
  gap: 2px;

  height: 24px;

  background: var(--gray-8);
  border: 1px solid var(--button-small-border);
  border-radius: 12px;
  color: var(--gray-1);
  font-size: 12px;
  font-weight: 500;
  padding: 0 12px;

  transition: border-color var(--transition) ease;

  svg {
    fill: var(--gray-1);
  }

  &:hover:not(:disabled):not(.span) {
    border-color: var(--button-small-border-hover);
  }

  &:disabled {
    color: var(--gray-4);
  }

  &.span {
    cursor: default;
  }

  &.unpadded {
    width: 24px;

    padding: 0;
  }
}
