.scrollable {
  padding: 0;
}

.list {
  display: grid;
}

.item {
  flex: 1;

  gap: 10px;

  height: 56px;

  border-bottom: 1px solid var(--border);
  font-weight: 600;
  padding: 0 var(--padding);

  transition: background-color var(--transition) ease;

  .name {
    flex: 1;
  }

  &:hover {
    background-color: var(--gray-8);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
