.button {
  gap: 2px;

  width: 100%;

  color: var(--dimmed);
  font-size: 12px;
  font-weight: 500;
  padding: 12px;

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }

  &:disabled {
    color: var(--gray-6);
  }
}
