.loader {
  display: inline-block;

  animation: spin 1s linear infinite;
  border-radius: 50%;
  border-style: solid;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .loader {
    animation: none;
  }
}
