.header {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 52px;

  border-bottom: 1px solid var(--border);
  padding: 0px var(--padding);
}

.back {
  color: var(--gray-4);
  margin: -8px;
  padding: 8px;

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}

.title {
  flex: 1;

  color: var(--gray-1);
  font-size: 14px;
  font-weight: 600;
}
