.container {
  position: absolute;
  top: calc(var(--drawer-offset) + var(--padding) + 12px);
  left: 0;
  right: 0;
  z-index: var(--z-index);

  padding: var(--padding);
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  background: var(--gray-8);
  border: 1px solid var(--gray-6);
  border-radius: 8px;
  box-shadow: var(--component-shadow);
  padding: 16px;
}

.info {
  color: var(--gray-0);
}

.success {
  color: var(--success);
}

.error {
  color: var(--error);
  word-break: break-all;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 21px;
}

.content {
  flex: 1;

  .title {
    font-size: 14px;
    font-weight: 500;
  }

  .description {
    color: var(--gray-2);
    font-size: 12px;
    font-weight: 500;
    margin-top: 4px;
  }
}

.description a,
.description button {
  display: inline-flex;

  color: inherit;
  text-decoration: underline;

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}

.close {
  height: calc(21px + 2 * 16px);

  color: var(--gray-4);
  margin: -16px;
  padding: 16px;

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}
