.root {
  --accordion-border: var(--border);
  --accordion-border-radius: 8px;
  --accordion-padding: 12px 16px;

  display: grid;
  gap: 8px;
}

.item {
  border-radius: var(--accordion-border-radius);
  overflow: hidden;

  &[data-state="open"] .chevron {
    transform: rotate(180deg);
  }
}

.chevron {
  transition: transform var(--transition) ease-out;
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  width: 100%;

  background-color: var(--accordion-border);
  font-size: 13px;
  font-weight: 500;
  padding: var(--accordion-padding);

  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--gray-6);
  }
}

.content {
  background-color: var(--gray-8);
  border: 1px solid var(--accordion-border);
  border-bottom-left-radius: var(--accordion-border-radius);
  border-bottom-right-radius: var(--accordion-border-radius);
  border-top-color: var(--gray-6);
  overflow: hidden;

  will-change: height;
  &[data-state="open"] {
    animation: slideDown var(--transition) ease-out;
  }
  &[data-state="closed"] {
    animation: slideUp var(--transition) ease-out;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .trigger,
  .chevron {
    transition: none;
  }

  .content {
    animation: none;
  }
}
