.list {
  margin: 0 calc(-1 * var(--padding));
  padding-top: 24px;
  overflow: hidden;
}

.more {
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
  padding: 12px;
  width: 100%;

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}
