.root {
  position: relative;

  display: flex;
  align-items: center;
  gap: 8px;

  border-bottom: 1px solid var(--border);
  padding: 0 16px;
}

.icon {
  flex: none;

  display: flex;
  align-items: center;

  color: var(--gray-2);
}

.inputArea {
  flex: 1;

  display: flex;
  align-items: center;
  gap: 6px;

  min-width: 0;
  padding: 12px 0;
}

.input {
  flex: 1;

  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
  padding: 0;
}

.hasValue .input {
  padding-right: 28px;
}

.clear {
  position: absolute;
  top: 50%;
  right: 16px;

  color: var(--gray-4);
  transform: translateY(-50%);
  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}
