.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  background-color: var(--gray-8);
  border-radius: 8px;
  padding: 16px;
  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--gray-7);
  }
}

.title {
  color: var(--gray-0);
  font-size: 14px;
  font-weight: 600;
}

.subtitle {
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
}

.icon {
  flex-shrink: 0;

  color: var(--gray-3);
}
