.root {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 24px;
  word-break: break-all;
}

.collectionName {
  color: var(--gray-1);
  font-size: 12px;
}

.nftName {
  font-size: 20px;
}

.chainInfo {
  font-size: 12px;
  margin-top: 4px;
}

.fields {
  display: grid;
  gap: 20px;
}

.chain {
  justify-content: flex-start;
  gap: 4px;
}
