.list {
  display: grid;
  gap: 16px;

  font-size: 12px;
  padding: 16px 20px;
}

.summary {
  display: grid;
  gap: 12px;

  background-color: var(--gray-7);
  border-bottom: 1px solid var(--gray-6);
  font-size: 12px;
  padding: 16px 20px;
}

.summaryTitle {
  color: var(--gray-0);
  font-size: 13px;
  font-weight: 600;
}

.key {
  font-weight: 600;
  margin-bottom: 2px;
}

.value {
  color: var(--gray-2);
  font-family: var(--monospace);
  font-weight: 500;
  word-break: break-all;
}
