.meta {
  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: var(--gray-7);
  border-radius: 8px;
  padding: 12px 16px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
}

.title {
  color: var(--dimmed);
}

.content {
  color: var(--gray-1);
}
