.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 16px 0 4px;
  text-align: center;
}

.heading {
  font-size: 18px;
  font-weight: 600;

  margin-top: 8px;
}

.delayHeading {
  font-size: 15px;
  font-weight: 600;

  margin-top: 8px;
}

p.message {
  font-size: 13px;
  line-height: 1.5;
  max-width: 320px;
  padding: 0 8px;
}

p.note {
  color: var(--gray-3);
  font-size: 12px;
  padding: 0;
}

.successIcon {
  color: var(--success);
}

.failIcon {
  color: var(--error);
}

.confirming {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.chainLogo {
  flex: none;

  border-radius: 50%;
}
