.title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-top: 20px;
}

.asset {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  width: 100%;

  border: 1px solid var(--gray-7);
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 12px;
}

.list[aria-busy="true"] {
  opacity: 0.5;
  pointer-events: none;
}

.asset:hover {
  background-color: var(--gray-8);
}

.asset img,
.imgPlaceholder {
  width: 32px;
  height: 32px;

  border: 1px solid var(--gray-5);
  border-radius: 50%;
}

.imgPlaceholder {
  background-color: var(--gray-8);
}
