.container {
  min-height: 228px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.close {
  position: absolute;
  top: 16px;
  left: 20px;

  color: var(--gray-4);
}

.close:hover {
  color: var(--gray-2);
}

.emptyIcon {
  width: 158px;

  margin: 0 auto;
}

.empty {
  color: var(--gray-3);
  font-size: 12px;
  font-weight: 500;
  margin: 0 auto;
  max-width: 240px;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.list {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  margin: 0 -20px;
  margin-bottom: -24px;

  max-height: min(70vh, 90vh - 81px);
  min-height: 160px;
  overflow-y: auto;
  /* hide scrollbar */
  scrollbar-width: none;
  -moz-scrollbars-none: none;
}

.asset {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "icon name balance"
    "icon chain value";
  align-items: center;

  width: 100%;

  border-bottom: 1px solid var(--border);
  column-gap: 8px;

  padding: 12px 20px;
}

.placeholder {
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon placeholder";
}

.asset:last-child {
  border-bottom: none;
}

button.asset:hover {
  background-color: var(--gray-8);
}

.activeAsset {
  background-color: var(--gray-7) !important; /* override hover */
}

.iconContainer {
  position: relative;

  grid-area: icon;

  height: 32px;

  margin-right: 4px;
}

.assetIcon {
  width: 32px;
  height: 32px;

  background-color: var(--gray-8);

  border: 1px solid var(--border);
  border-radius: 50%;
}

.chainIcon {
  position: absolute;
  bottom: 0;
  right: -4px;

  width: 16px;
  height: 16px;

  background-color: var(--gray-8);

  border: 1px solid var(--border);
  border-radius: 50%;
}

.assetPlaceholder {
  grid-area: placeholder;

  width: 100%;
  height: 39px;

  animation: pulse 1.5s infinite;

  background-color: var(--gray-8);
  border-radius: 4px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.assetName {
  grid-area: name;

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  font-weight: 600;
}

.assetName span {
  color: var(--gray-2);
}

.assetChain {
  grid-area: chain;

  color: var(--gray-3);
  font-size: 12px;
  font-weight: 500;
}

.balance {
  grid-area: balance;

  font-family: var(--monospace);
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

.value {
  grid-area: value;

  color: var(--gray-3);
  font-family: var(--monospace);
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}
