.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.subtitle {
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: -16px;
}

.subtitle:last-child {
  margin-bottom: 8px;
  margin-top: -16px;
}

.subtitle span {
  color: var(--gray-0);
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.link {
  display: inline;

  color: var(--info);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  color: var(--info-light);
}

.separator {
  width: 1px;
  height: 10px;

  background-color: var(--gray-4);
}

.empty {
  height: 10px;
}

.errorIcon {
  color: var(--error);
  margin: 8px;
}

.error {
  width: 100%;

  color: var(--error);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
  max-height: 100px;
  overflow-y: scroll;
  text-align: center;
  word-wrap: break-word;
}
