.container {
  display: grid;

  overflow: hidden;
}

.search {
  border-bottom: 1px solid var(--border);
}

.list {
  overflow-y: auto;
}

.item {
  gap: 8px;

  width: 100%;

  border-bottom: 1px solid var(--border);
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  padding: 12px var(--padding);

  transition: background-color var(--transition) ease;

  &:hover {
    background-color: var(--border);
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

.logo {
  flex: none;
}

.info {
  flex: 1;

  display: grid;
}

.symbol {
  width: 120px;

  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.balance {
  font-family: var(--monospace);
  text-align: right;
  word-break: break-all;
}

.name,
.value {
  color: var(--dimmed);
  font-size: 12px;
}
