.input {
  /* unset */
  height: 52px;

  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-family: var(--monospace);
  font-size: 38px;
  font-weight: 700;

  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  text-align: right;

  &::placeholder,
  &.placeholder {
    color: var(--gray-4);
  }

  &:focus {
    outline: none;
  }
}
