.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  position: relative;

  .input[data-has-value] {
    padding-right: calc(6px + 2 * 10px + 16px);
  }

  .input::placeholder {
    font-family: var(--font-family);
  }

  .clear {
    position: absolute;
    top: 50%;
    right: 6px;

    background-color: var(--gray-7);

    color: var(--gray-3);
    padding: 10px;
    transform: translateY(-50%);

    transition: color var(--transition) ease;

    &:hover {
      color: var(--gray-1);
    }
  }
}
