.root {
  position: relative;

  display: flex;
  gap: 8px;
}

.label {
  position: absolute;
  top: 50%;
  left: var(--search-input-padding);

  display: flex;
  align-items: center;

  color: var(--gray-2);
  margin: 0;
  transform: translateY(-50%);
}

.input {
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  padding-left: calc(var(--search-input-icon-size) + var(--search-input-padding) + 8px);
  padding-right: var(--search-input-padding);
}

.hasValue .input {
  padding-right: calc(var(--search-input-icon-size) + 2 * var(--search-input-padding));
}

.clear {
  position: absolute;
  top: 50%;
  right: var(--search-input-padding);

  color: var(--gray-4);
  transform: translateY(-50%);

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}
