.root {
  display: flex;
  gap: 8px;
}

.label {
  display: flex;
  align-items: center;
  color: var(--gray-2);
  margin: 0;
}

.input {
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}

.clear {
  color: var(--gray-4);

  transition: color var(--transition) ease;

  &:hover {
    color: var(--gray-1);
  }
}
