.details {
  border-top: 1px solid var(--border);
  padding-top: 12px;

  summary {
    color: var(--gray-1);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
  }
}

.content {
  display: grid;
  gap: 12px;

  padding-top: 12px;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  color: var(--gray-1);
  cursor: pointer;
  font-size: 12px;

  input {
    flex-shrink: 0;

    width: 14px;
    height: 14px;

    accent-color: var(--gray-0);
  }

  span {
    display: grid;
    gap: 3px;
  }

  strong {
    font-weight: 600;
  }

  small {
    color: var(--gray-2);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
  }
}

.field {
  display: grid;
  gap: 6px;

  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
}

.inputRow {
  display: flex;
  align-items: center;

  background-color: var(--gray-7);
  border: 1px solid var(--border);
  border-radius: 8px;
  color: var(--gray-2);
  overflow: hidden;

  input {
    flex: 1;

    color: var(--gray-0);
    font-family: var(--monospace);
    min-width: 0;
    padding: 10px;
  }

  > span {
    padding: 0 10px;
  }
}

.denomTrigger,
.denomItem {
  width: 100px;
}

.note {
  color: var(--gray-2);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
}
