.empty {
  color: var(--gray-3);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.domainGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.domainHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}

.domainName {
  color: var(--gray-0);
  font-size: 14px;
  font-weight: 500;
}

.domainIcon {
  width: 16px;
  height: 16px;
  object-fit: cover;
}
