.button {
  height: 30px;

  background-color: var(--gray-8);
  border: 1px solid var(--gray-5);
  border-radius: 9999px;
  color: var(--gray-1);
  font-size: 12px;
  font-weight: 600;
  padding: 0 24px;

  transition: border-color var(--transition) ease;

  &:hover:not(:disabled) {
    border: 1px solid var(--gray-3);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.claimed {
  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--gray-4);
}
