.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  word-break: break-all;
}

.collectionName {
  font-size: 14px;
}

.nftName {
  font-size: 24px;
}

.chainInfo {
  font-size: 14px;
}

.attributes {
  margin-top: 28px;

  .title {
    font-size: 12px;
    font-weight: 600;
  }

  .count {
    color: var(--gray-2);
  }

  .item {
    border-bottom: 1px solid var(--border);
    margin: 0 calc(-1 * var(--padding));
    padding: 16px var(--padding);
  }

  .type {
    color: var(--gray-4);
    font-size: 12px;
    font-weight: 500;
  }

  .value {
    font-size: 14px;
    font-weight: 600;
  }
}
