.thumbnail {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  background-color: var(--gray-7);
  border-radius: 8px;
  overflow: hidden;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  .placeholder {
    width: 100%;
    height: 100%;
  }
}

.clickable {
  border: 1px solid transparent;

  transition: border-color var(--transition) ease;

  &:hover {
    border-color: var(--gray-4);
  }
}
