.empty {
  color: var(--gray-3);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.container {
  background-color: var(--gray-8);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chain {
  font-size: 12px;
  font-weight: 500;
}

.expiration {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-2);
}

.expirationTime {
  font-family: var(--monospace);
  color: var(--gray-0);
  margin-left: 2px;
}

.revokeButton {
  background-color: var(--gray-6);
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
}

.revokeButton:hover {
  background-color: var(--gray-5);
}
